.container {display: inline-block;}


#globe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#letter {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;   
    z-index: 10;          
    display: none;
    padding: 0.5%;
    top:3%;
    left: 1%;
    line-height: 8mm;
}

#letter:hover, #Hobbies:hover, #Australia:hover, #Japan:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#Hobbies {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;   
    z-index: 10;          
    display: none;
    padding: 0.5%;
    top: 70%;
    left: 1%;
    line-height: 8mm;
}

#Australia {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;   
    z-index: 10;          
    display: none;
    padding: 0.5%;
    top:3%;
    left: 70%;
    line-height: 8mm;
}

#Japan {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;   
    z-index: 10;          
    display: none;
    padding: 0.5%;
    top:70%;
    left: 70%;
    line-height: 8mm;
}

.text{
    color: white;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-family: monospace;
    position: relative;   
    z-index: 999;      
    left: 130%;
    display: block;
    border-right: 5px solid white;
    width: 0%;
    overflow:hidden;
    white-space: nowrap;
    animation: 
        typing 2s steps(14) 1s forwards,
        cursor 2s steps(14) forwards;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}