.container {
    display: inline-block;
    position: absolute;
    top: 0.05vh;
    left: 40%;
    z-index: 100;
}

#content{
    margin-top: 100vh; 
}

body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('texture/galaxy.jpeg');
    z-index: 20;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.paragraph {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 0; 
    line-height: 1.5em;
}

#globe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#letter {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-size: cover;
    color: #f0f0f0;
    font-size: 20px;
    z-index: 10;          
    display: none;
    top:20vh;
    left: 0.05%;
    line-height: 8mm;
    width: 600px; 
    height: 600px; 
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    left: 30%;
}

#letter:hover {
    animation: fadeInOutCambo 9s infinite;
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

#Hobbies {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-size: cover;
    color: #f0f0f0;
    font-size: 20px;
    z-index: 10;          
    display: none;
    top: 40vh;
    left: 0.05%;
    line-height: 8mm;
    width: 600px; 
    height: 600px; 
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    left: 30%;  
    opacity: 1;
}

#Hobbies:hover {
    animation: fadeInOutHobbies 9s infinite;
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

#Australia:hover {
    animation: fadeInOutAus 9s infinite;
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

#Japan:hover {
    animation: fadeInOutJapan 9s infinite;
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

#Australia {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-size: cover;
    color: #f0f0f0;
    font-size: 20px;
    z-index: 10;          
    display: none;
    top: 60vh;
    left: 0.05%;
    line-height: 8mm;
    width: 600px; 
    height: 600px; 
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    left: 30%;  
    opacity: 1;
}

#Japan {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: #f0f0f0;
    font-size: 20px;
    z-index: 10;          
    display: none;
    top:70vh;
    left: 0.05%;
    line-height: 8mm;
    width: 600px; 
    height: 600px; 
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    left: 30%;
}

.text{
    color: white;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-family: monospace;
    z-index: 999;      
    display: block;
    border-right: 5px solid white;
    width: 0%;
    overflow:hidden;
    white-space: nowrap;
    animation: 
    typing 2s steps(14) 1s forwards,
    cursor 2s steps(14) forwards;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes fadeInOutHobbies {
    10% {
        background-image: url('texture/drama1.jpg');
        opacity: 0.8;
        background-position: 50%;
    }
    30% {
        background-image: url('texture/drama2.jpg');
        opacity: 0.8;
        background-position: 60%;
    }
    60% {
        background-image: url('texture/drama3.jpg');
        opacity: 0.8;
    }
}

@keyframes fadeInOutAus {
    10% {
        background-image: url('texture/unsw.jpg');
        opacity: 0.8;
        background-position: 50%;
    }
    30% {
        background-image: url('texture/sydney.jpg');
        opacity: 0.8;
        background-position: 60%;
    }
    60% {
        background-image: url('texture/computer.jpg');
        opacity: 0.8;
    }
}

@keyframes fadeInOutCambo {
    10% {
        background-image: url('texture/cambo1.jpg');
        opacity: 0.8;
        background-position: 50%;
    }
    30% {
        background-image: url('texture/cambo2.jpg');
        opacity: 0.8;
        background-position: 60%;
    }
    60% {
        background-image: url('texture/cambo3.png');
        opacity: 0.8;
    }
}

@keyframes fadeInOutJapan {
    10% {
        background-image: url('texture/japan2.jpg');
        opacity: 0.8;
        background-position: 50%;
    }
    30% {
        background-image: url('texture/japan1.png');
        opacity: 0.8;
        background-position: 60%;
    }
    60% {
        background-image: url('texture/japan3.jpg');
        opacity: 0.8;
    }
}